.Titulo{

    color:rgb(241, 205, 0);
    font-size:25px;
}
*{

padding: 0px;
margin: 0px;
}
.formRegis {
background-color: rgb(220, 187, 253);
width: 351px;
padding: 20px;
margin: auto;
margin-top: 60px;
border-radius: 40px;
}
.formRegis h3{

font-size: 29px;
color: snow;

}
.entrada {
    
width: 150px;
padding: 3px;
border-radius: 2px;
border: 1.5px solid cadetblue;
background-color: beige
}
.wa {
font-size: 9px;

}
.entrada_2 {
    width: 300px;
    padding: 3px;
    border-radius: 2px;
    border: 1.5px solid cadetblue;
    background-color: beige
    }